<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Personas</title>
  </head>
  <body>
    <header>
      <h1>Personas</h1>
      <a href='http://127.0.0.1:5000/'>Inicio</a>
      <a href='http://127.0.0.1:5000/losbarrios'>Barrios</a>
      <a href='http://127.0.0.1:5000/lascasas'>Casas</a>
      <a href='http://127.0.0.1:5000/losdepartamentos'>Departamentos</a>
    </header>

    <h5>Listado de personas - {{ numero_personas }}</h5>

    {% for p in personas %}

    <ol>
      <li><b>Nombres: </b>{{p['nombres']}}</li>
      <li><b>Apellidos: </b>{{p['apellidos']}}</li>
      <li><b>Cédula: </b>{{p['cedula']}}</li>
      <li><b>Correo: </b>{{p['correo']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
